.wrap{
	background-color: white;
}
.ays_nk_head{
	color:gray;
	text-decoration:underline;
	font-style:italic;
	text-align: center;
}
.ays_nk_inf{
	font-size: 18px;
	font-style:italic;
	font-weight: bold;
	text-align: center;
}
table{
	width: 100%;
}
.ays_nk_table_cell{
	width: 370px;
}
.description{
	text-decoration:underline;
	font-style:italic;
	font-size: 14px;
}
input[type='text']{
	width: 100%;
}
textarea{
	width: 100%;
	resize:none;
	height:200px;
}
#ays_nk_bttn{
	background: #2EA2CC;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline:none;
}
#ays_nk_bttn:hover{
	background: #1E8CBE;			
}
#ays_nk_bttn1{
	background: #2EA2CC;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline:none;
}
#ays_nk_bttn1:hover{
	background: #1E8CBE;			
}
.tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Liays_nks -----*/
.tab-liays_nks{
	padding-left: 0px;
	margin-bottom: -1px;
}
/* Clearfix */
.tab-liays_nks:after {
	display:block;
	clear:both;
	content:'';
}

.tab-liays_nks li {
	margin:0px;
	float:left;
	list-style:none;
	border:1px solid #7FB5DA;
}

.tab-liays_nks a {
	padding:9px 15px;
	display:inline-block;
	border: none;
	outline:none;
	background:#fff;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-liays_nks a:hover {
	background:#a7cce5;
	text-decoration:none;
}
.tab-liays_nks a:focus {
	box-shadow:none;
}
li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

.tab-content {
	padding:15px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
	border:1px solid #7FB5DA;
}
li.active{
	border-bottom: 1px solid white;
}
.tab {
	display:none;
}

.tab.active {
	display:block;
}
.ays_nk_new_div1{
	position:absolute;
	z-index:999;
}
.ays_nk_new_div2{
	position:absolute;
	z-index:998;
}
.ays_nk_new_div3{
	position:absolute;
	z-index:997;
}
.ays_nk_new_div4{
	position:absolute;
	z-index:996;
}
.help{
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	border: 1px solid gray;
	text-align: center;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 15px;
	top: -6px;
}
.desc{
	position: absolute;
	top: -35px;
	left: -20px;
	display: none;
	border: 1px solid gray;
    font-style: italic;
	padding: 5px;
	border-radius: 5px;
	z-index: 955;
}
.help:hover .desc{
	display:block;
}