@media screen and (max-width: 480px) {
	.nar_modal{
		width:400px;	
	}
}

.nar_overlay{
	width: 100%;
	position: fixed;
	height: 100%;
	opacity: 0.7;
	top: 0;
	background-color: black; 
	z-index: 9999999999999;
}

#user_desc{
    font-size: 22px;
    text-decoration: underline;
    text-align: center;
    margin-top: -6px;
    color: black;
	pointer-events:none;
}
#user_timer{
	color: red;
    text-align: center;
    margin: 10px;
}
#ays_nk_close{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -18px;
    right: -17px;
    background-color: gainsboro;
    outline: none;
    color: white;
    text-align: center;
    border-radius: 50px;
    line-height: 30px;
	font-family:arial;
    font-size: 20px;
    cursor: pointer;
}
#ays_nk_close:hover{
	color:black;
	box-shadow: 0px 0px 3px 4px gray;
}
.nar_modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 99999999999999999999;
    border-radius: 15px;
    text-align: right;
    border: 3px solid white;
    padding: 15px;
	background:white;
}
#ays_nk_fb{
	height:auto;
	text-align: center;
    margin-top:8px;
}
#ays_nk_head{
/*     height: 76px; */
}
.nar_modal1{
    position: fixed;
	width:auto;
    height: auto;
    top: 0;
    left: 0;
	bottom:0;
	right:0;
    margin:auto;
    z-index: 9999999999999999999;
}
.ays_nk_timer{
	text-align:center;
	margin-top: 30px;
	text-decoration:underline;
	font-style:italic;
    height: 20px;
}
.ays_nk_timer > p{
    font-size: smaller;
    color:black;
	margin-bottom: 0px;
	line-height:0px;
}
.ays_nk_timer>p>label{
	display:inline;
}
#nar_over,#nar_mod1,#nar_mod{
    display: none;
}